'/workspace/dogbreeds_dect'

In [6]:
total_imagess = tf.io.gfile.glob("data/raw/stanford-dogs-dataset/images/Images/n02085620-Chihuahua/*jpg")

In [11]:
total_imagess[10:16]

['data/raw/stanford-dogs-dataset/images/Images/n02085620-Chihuahua/n02085620_1152.jpg',
 'data/raw/stanford-dogs-dataset/images/Images/n02085620-Chihuahua/n02085620_11696.jpg',
 'data/raw/stanford-dogs-dataset/images/Images/n02085620-Chihuahua/n02085620_11818.jpg',
 'data/raw/stanford-dogs-dataset/images/Images/n02085620-Chihuahua/n02085620_11948.jpg',
 'data/raw/stanford-dogs-dataset/images/Images/n02085620-Chihuahua/n02085620_1205.jpg',
 'data/raw/stanford-dogs-dataset/images/Images/n02085620-Chihuahua/n02085620_12101.jpg']

120

In [28]:
dataframe.head()

,Unnamed: 0,folder,filename,database,width,height,depth,object_name,pose,truncated,difficult,xmin,ymin,xmax,ymax
0,0,02085620,n02085620_10074,ImageNet database,333,500,3,Chihuahua,Unspecified,0,0,25,10,276,498
1,0,02085620,n02085620_10131,ImageNet database,395,495,3,Chihuahua,Unspecified,0,0,49,9,393,493
2,0,02085620,n02085620_10621,ImageNet database,500,298,3,Chihuahua,Unspecified,0,0,142,43,335,250
3,0,02085620,n02085620_1073,ImageNet database,345,500,3,Chihuahua,Unspecified,0,0,0,27,312,498
4,0,02085620,n02085620_10976,ImageNet database,322,484,3,Chihuahua,Unspecified,0,0,90,104,242,452